@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
}


after { clear: both; }


#addCustomer {
  margin: 12% auto;
  width: 320px;
}

#addCustomer form span {
  background-color: #363b41;
  border-radius: 3px 3px 3px 3px;
  border-right: 3px solid #4e5358;
  color: #606468;
  display: block;
  float: left;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
}

#addCustomer form input[type="text"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 235px;
    height: 50px;
}

#addCustomer form input[type="email"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 235px;
    height: 50px;
}

#addCustomer form input[type="number"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 235px;
    height: 50px;
  }
  
#addCustomer form input[type="submit"] {
  background: #b5cd60;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: body-background 0.3s ease-in-out;
}
#addCustomer form input[type="submit"]:hover {
  background: #cfba73;
}

#divLink {
    text-align: center;
    margin-top: 5%;
    margin-bottom: -15%;
}

#divLink:hover {
  cursor: pointer;
  text-align: center;
  margin-top: 5%;
}

a{
    text-decoration: none;
    color: #6c755d;
}
